html {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
}

/**Небольшой RESET после нормализации*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.link {
  text-decoration: none;
  @media print {
    font-size: 11px;
  }
  @include text-decoration(700, 7px, 1.3, var(--dark-text-color));
  transition-property: color, fill;
  transition-duration: var(--timing);
  transition-timing-function: var(--cubik);
  @media screen and (min-width: 480px) {
    @include text-decoration(700, 11px, 1.3, var(--dark-text-color));
  }

  @media screen and (min-width: 768px) {
    @include text-decoration(
      700,
      var(--smallFont768),
      1.3,
      var(--dark-text-color)
    );
  }

  @media screen and (min-width: 1200px) {
    @include text-decoration(
      700,
      var(--smallFont1200),
      1.3,
      var(--dark-text-color)
    );
  }

  &:hover,
  &:focus {
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
  }
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/**Общий контейнер для элементов макета**/
.container {
  width: 100%;

  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
