.header-section {
  background-color: var(--outside-background-color);
  padding: 20px;
}

.header-section__name {
  @include text-decoration(700, var(--middleFont1200), 1.14, var(--light-text-color));
  margin-bottom: 5px;
}

.header-section__resume-text {
  @include text-decoration(700, var(--smallFont1200), 1.14, var(--light-text-color));
  text-indent: 10px;
}

.header-localization {
  display: flex;
  justify-content: right;
}
.header-localization__item {
  margin-left: 7px;
}



