.header-section {
  background-color: var(--outside-background-color);
  padding: 20px;
}

.header-section__name {
  @include text-decoration(700, var(--nameFont768), 1.3, var(--light-text-color));
  @media screen and (min-width: 768px) {
    @include text-decoration(700, var(--nameFont768), 1.3, var(--light-text-color));
  }

  @media screen and (min-width: 1200px) {
    @include text-decoration(700, var(--nameFont1200), 1.3, var(--light-text-color));
  }
  margin-bottom: 5px;
}

.header-section__position {
  @include text-decoration(700, var(--largeFont768), 1.3, var(--light-text-color));
  @media screen and (min-width: 768px) {
    @include text-decoration(700, var(--largeFont768), 1.3, var(--light-text-color));
  }

  @media screen and (min-width: 1200px) {
    @include text-decoration(700, var(--largeFont1200), 1.3, var(--light-text-color));
  }
  margin-bottom: 5px;
}

.header-section__resume-text {
  @media print{font-size: 11px;}
  @include text-decoration(700, var(--smallFont768), 1.3, var(--light-text-color));
  @media screen and (min-width: 768px) {
    @include text-decoration(700, var(--smallFont768), 1.3, var(--light-text-color));
  }

  @media screen and (min-width: 1200px) {
    @include text-decoration(700, var(--smallFont1200), 1.3, var(--light-text-color));
  }
}



