.content {
  width: 70%;
  float: right;
  padding: 20px;
}

.content-title__secondary {
  padding-bottom: 5px;
  @media print{font-size: 14px;}
  @include text-decoration(700, 12px, 1.3, var(--dark-text-color));
  @media screen and (min-width: 480px) {
    @include text-decoration(700, 13px, 1.3, var(--dark-text-color));
  }

  @media screen and (min-width: 768px) {
    @include text-decoration(700, var(--middleFont768), 1.3, var(--dark-text-color));
  }

  @media screen and (min-width: 1200px) {
    @include text-decoration(700, var(--middleFont1200), 1.3, var(--dark-text-color));
  }
}

.work-section{
  padding-left: 15px;
}

.workList{
  @media print{font-size: 11px;}
  @include text-decoration(700, 8px, 1.3, var(--dark-text-color));
  @media screen and (min-width: 480px) {
    @include text-decoration(700, 11px, 1.3, var(--dark-text-color));
  }

  @media screen and (min-width: 768px) {
    @include text-decoration(700, var(--smallFont768), 1.3, var(--dark-text-color));
  }

  @media screen and (min-width: 1200px) {
    @include text-decoration(700, var(--smallFont1200), 1.3, var(--dark-text-color));
  }
}


.content-text {
  @media print{font-size: 11px;}
  @include text-decoration(700, 10px, 1.14, var(--dark-text-color));
  @media screen and (min-width: 480px) {
    @include text-decoration(700, 11px, 1.14, var(--dark-text-color));
  }

  @media screen and (min-width: 768px) {
    @include text-decoration(700, var(--smallFont768), 1.3, var(--dark-text-color));
  }

  @media screen and (min-width: 1200px) {
    @include text-decoration(700, var(--smallFont1200), 1.3, var(--dark-text-color));
  }
}

.content-block {
  border: 2px solid var(--dark-text-color);
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px;
}

.primaryContent {
  display: flex;
}

.project-link{
  @media print{font-size: 14px;}
  @include text-decoration(700, 14px, 1.3, var(--second-color));
  @media screen and (min-width: 480px) {
    @include text-decoration(700, 13px, 1.3, var(--second-color));
  }

  @media screen and (min-width: 768px) {
    @include text-decoration(700, var(--middleFont768), 1.3, var(--second-color));
  }

  @media screen and (min-width: 1200px) {
    @include text-decoration(700, var(--middleFont1200), 1.3, var(--second-color));
  }
}

.project-list{
  &:not(:last-child){
    padding-bottom: 10px;
  }
}

.education-title{
  padding-top: 0;
  padding-bottom: 5px;
}
