.sidebar {
  width: 30%;
  background-color: var(--second-color);
  overflow: auto;
  float: left;
  padding: 15px;
  position: relative;
  bottom: 0;
}

.sidebar-title {
  padding: 10px;
  @include text-decoration(700, 12px, 1.14, var(--dark-text-color));
  @media screen and (min-width: 480px) {
    @include text-decoration(700, 14px, 1.14, var(--dark-text-color));
  }

  @media screen and (min-width: 768px) {
    @include text-decoration(700, 14px, 1.14, var(--dark-text-color));
  }

  @media screen and (min-width: 1200px) {
    @include text-decoration(700, var(--middleFont1200), 1.14, var(--dark-text-color));
  }
}

.sidebar-content {
  padding: 3px;
  display: block;
  @include text-decoration(700, 8px, 1.14, var(--dark-text-color));
  @media screen and (min-width: 480px) {
    @include text-decoration(700, 10px, 1.14, var(--dark-text-color));
  }

  @media screen and (min-width: 768px) {
    @include text-decoration(700, 12px, 1.14, var(--dark-text-color));
  }

  @media screen and (min-width: 1200px) {
    @include text-decoration(700, var(--smallFont1200), 1.14, var(--dark-text-color));
  }
}

.sidebar-list {
  padding: 0 10px;
}

.photo{
  width: 85px;
  @media screen and (min-width: 480px) {
    width: 120px;
  }

  @media screen and (min-width: 768px) {
    width: 200px;
  }

  @media screen and (min-width: 1200px) {
    width: 240px;
  }
}