:root {
  --primary-text-color: #757575;
  --dark-text-color: #212121;
  --outside-background-color: #2f303a;
  --light-text-color: #ffffff;
  --second-color: #f7971a;
  --company-color: #afb1b8;
  --timing: 250ms;
  --cubik: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin text-decoration($weight, $size, $lg, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lg;
  font-style: normal;
  color: $color;
}
