:root {
  --primary-text-color: #757575;
  --dark-text-color: #212121;
  --outside-background-color: #2f303a;
  --light-text-color: #ffffff;
  --second-color: #f7971a;
  --company-color: #afb1b8;
  --timing: 250ms;
  --cubik: cubic-bezier(0.4, 0, 0.2, 1);
  --smallFont1200: 14px;
  --middleFont1200: 18px;
  --largeFont1200: 30px;
  --nameFont1200:35px;
  --smallFont768: 12px;
  --middleFont768: 14px;
  --largeFont768: 25px;
  --nameFont768:30px;
}

@mixin text-decoration($weight, $size, $lg, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lg;
  font-style: normal;
  color: $color;
}
